.divStyle{
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: hotpink;
}

#app{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 5px;
}

.lighton{
    background-color: rgb(245, 245, 0);
    cursor: pointer;

}

.lighton:hover{
    box-shadow: 0 0 10px 2px orange;
}



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10%;
    background-color: rgb(32, 8, 8);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: yellow;
    text-shadow: 0 0 5px #fff, 0 0 10px yellow, 0 0 20px orange;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px yellow, 0 0 20px orange;
        color: yellow;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px yellow, 0 0 40px orange;
        color: orange;
    }
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
}